.progress-bar-nd {
    position: relative;
    height: 85px;
    width: 85px;
    top: 7.5px;
    left: 8px;
}

.progress-bar-nd div {
    position: absolute;
    height: 85px;
    width: 85px;
    border-radius: 50%;
}

.progress-bar-nd div span {
    position: absolute;
    font-family: Arial;
    font-size: 17px;
    line-height: 72px;
    height: 72px;
    width: 72px;
    left: 6.8px;
    top: 6.8px;
    text-align: center;
    border-radius: 50%;
    background-color: white;
    color: black;
}

.progress-bar-nd .background {
    background-color: #b3cef6;
}

.progress-bar-nd .rotate {
    clip: rect(0 42.5px 85px 0);
    background-color: #4b86db;
}

.progress-bar-nd .left {
    clip: rect(0 42.5px 85px 0);
    opacity: 1;
    background-color: #b3cef6;
}

.progress-bar-nd .right {
    clip: rect(0 42.5px 85px 0);
    transform: rotate(180deg);
    opacity: 0;
    background-color: #4b86db;
}

@keyframes toggle {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}